@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

body {
  color: #000;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  outline: none;
}

.text-center {
  margin-top: 100px;
}
.logo-resize {
  width: 100px;
  border-radius: 70%;
}
.cart-page {
  background-image: url(https://image.freepik.com/free-photo/bottle-detox-water-with-mint-lemon-grey-background-citrus-lemonade-summer-fruit-infused-water_80743-2117.jpg);
}
.cart-table {
  color: #50bd4d;
}
.cart-part {
  padding-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.productline {
  padding-top: 50px;
}
.slider-section {
  margin-bottom: 10px;
}
.shipping-cart {
  padding: 30px;
}
/* .blog-box {
  margin-top: 50px;
  background-color: pink;
}
.blog-container {
  margin-top: 30px;
  background-color: pink;
} */
.blog-card {
  margin: 30px;
  /* background-color: pink; */
  padding-top: 30px;
}

.blog-row {
  margin-top: 50px;
}
.flex-packg {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.registerForm {
  width: 1100vh;
  background-image: url(https://colorlib.com/etc/regform/colorlib-regform-18/images/bg-registration-form-2.jpg);
}
.img-register {
  width: 500px;
  height: 700px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.form-regis {
  width: 700px;
  height: 700px;
  padding-top: 50px;
  padding-left: 50px;
}
.legend {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.login-form {
  width: 500px;
  height: 700px;
  padding-top: 100px;
  padding-left: 50px;
}
.product-img {
  width: 350px;
  height: 350px;
}

.thumb1 {
  width: 100px;
  height: 100px;
}
.slide-div {
  background-image: repeating-linear-gradient("../images/thumb1.jpg");
}
.before-after {
  width: 550px;
  height: 350px;
}
.blog-img {
  width: 530px;
  height: 530px;
}
.blog-div {
  padding: 10px;
  width: 550px;
  height: 550px;
}
.img-package {
  width: 350px;
  height: 350px;
  margin-top: 40px;
}
.packageConatiner {
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .productContainer {
  border: solid 6px yellowgreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.productContainer {
  margin: 0;
  /* background-color: paleturquoise; */
}

.product-content {
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: pink;
  color: Black;
  position: absolute;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.blog-content-div {
  margin-right: 50px;
}
.blog-content {
  padding: 50px;
}
.readmore-btn :hover {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  @media (min-width: 600px) {
    margin: 0 1em 2em;
  }
}
.readmore-btn {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.text-muted {
  margin-left: 20px;
  padding: 20px;
}
.title-pkg-containe {
  text-align: center;
}
.packages-title {
  text-align: center;
}
.reviewForm {
  margin-top: 66px;
  margin-bottom: 66px;
}
.re-size-img-single {
  padding: 30px;
  width: 400px;
}
.product-card-detail {
  margin: 1rem;
  border-radius: 10px;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-container-detail {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: paleturquoise;
}
.packages-row {
  margin: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.packages-row .package-content {
  padding: 30px;
}

.package-detail-container {
  margin-top: 80px;
}
.package-content {
  padding-top: 30px;
}
.packageSection {
  margin-top: 30px;
  align-items: center;
}
.title-pkg-container {
  margin-top: 30px;
  align-items: center;
  text-align: center;

  font-size: 40px;
}

/* FOOTER  */
footer {
  background-color: #ffc68f;
}

.readmore-btn {
  margin: 20px;
}

.blog-title {
  padding: 50px;
}

.card-package {
  margin-top: 50px;
}

.packages-title {
  margin-top: 30px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.beforeafteCompo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.footer-section {
  margin-top: 30px;
  max-width: 1000vh;
}

/*Slider amination **/
img {
  vertical-align: middle;
}
.item-slider5 .ads-image412 {
  left: 40%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.item-image-ads-extend {
  position: absolute;
}

.ads-image412 {
  bottom: 0;
  left: 46%;
  width: 34%;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

.ads-image411 {
  left: 0;
  bottom: 17%;
  width: 20%;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ads-image413 {
  right: 0;
  top: 7%;
  width: 18%;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
.item-slider5 .ads-image414 {
  right: 14%;
}
.ads-image414 {
  width: 6%;
  right: 11%;
  bottom: 75%;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.absolute,
.item-contact-page .contact-thumb ::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}
.ads-image51 {
  left: 2%;
  bottom: 30%;
  width: 15%;
}
.ads-image52 {
  left: 44%;
  top: 10%;
  width: 8%;
}

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
.ads-image53 {
  top: 30%;
  right: -70px;
  width: 15%;
}
.ads-image54 {
  bottom: 20%;
  right: 12%;
  width: 15%;
}
.ads-image55 {
  width: 36%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -15%;
}

.ads-image56 {
  left: 44%;
  bottom: 23%;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  width: 10%;
}
.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.ads-image431 {
  bottom: 0;
  right: 32%;
  width: 30.5%;
}

.ads-image432 {
  bottom: 2%;
  width: 21%;
}
.item-slider5 .ads-image432 {
  right: 70%;
}
.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
}
@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.ads-image433 {
  right: 19%;
  top: 33%;
  width: 5%;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.item-slider5 .ads-image434 {
  top: 55%;
  right: 10%;
}
.ads-image434 {
  right: 16%;
  top: 7%;
  width: 9%;
}
.banner-slider .item-slider {
  position: relative;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  float: left;
}
.banner-slider .banner-thumb {
  position: relative;
}
element.style {
  width: 4374px;
  left: 0px;
  display: block;
  transform: translate3d(0px, 0px, 0px);
  transform-origin: 364.5px center;
  perspective-origin: 364.5px center;
}

.blog-content-div {
  background-image: url(https://nutritous.7uptheme.net/wp-content/uploads/2018/07/adv2.jpg?id=630) !important;
}
.product-tab {
  margin-top: 70px;
}
.tab-product {
  margin-top: 30px;
}
.mouse-hover:hover {
  color: #00ff22;
  cursor: pointer;
}
.banner-info {
  height: 250px;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.btn-arrow.white {
  color: #fff;
  border: 2px solid #fff;
  line-height: 38px;
}
.btn-arrow {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  text-transform: uppercase;
  border-radius: 20px;
  position: relative;
  background: transparent;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.btn-arrow::after,
.post-control-prev .btn-arrow::before {
  content: "\f3d6";
  font-family: "Ionicons";
  margin-left: 10px;
}
a {
  color: #337ab7;
  text-decoration: none;
}

.footer-public-section {
  padding-top: 50px;
}
.title30 {
  font-size: 30px;
}
.title120 {
  font-size: 120px;
  color: #f8ff09;
}
.font-bold {
  font-weight: 700;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.titlestay {
  display: flex;
  justify-content: center;
  color: #f8ff09;
  font-size: 40px;
  font-weight: 700;
}
.product-detail-page {
  font-size: 20px;
  margin-top: 50px;
}
.relatedproduct-title {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 200px;
  font-weight: 700;
}
.thankyoutitle {
  color: #00ff22;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 350px;
}
.relatedProduct-container {
  margin-top: 50px;
}

.star-ratings svg {
  width: 20px !important;
  height: 20px !important;
  align-items: center;
}
.item-product1::after {
  border: 1px solid #e5e5e5;
  opacity: 0;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.item-product {
  padding: 10px;
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.item-product1 > * {
  position: relative;
  z-index: 1;
}

.blog-container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.card-blog {
  position: relative;
  max-width: 300px;
  height: 420px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  background: #fff;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0, 5);
  transition: 0.3s ease-in-out;
}

.card-blog :hover {
  height: 420px;
}
.imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 0.2);
}
.blog-img {
  max-width: 100%;
  border-radius: 4px;
}
.content-blog {
  position: relative;
  margin-top: -140px;
  padding: 10px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card-blog :hover .content-blog {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
.product-cart {
  margin: 20px;
}
.item-product {
  padding: 40px;
}
.product-info {
  margin-top: 10px;
}
.product-title {
  padding-top: 20px;
}
.product-price {
  align-items: center;
  padding-left: 20px;
  color: #66cc33;
  font-size: 18px;
  margin: 0 -2px 7px;
}
.reviewlist {
  padding: 10px;
  margin-left: 30px;
  background-image: url(https://image.freepik.com/free-photo/water-detox-with-lemon-lime-mint-blue-background-detox-drink-with-copy-space_106006-2846.jpg);
}
.description-card {
  font-weight: 500;
  font-size: 30px;
  background-image: url(https://www.photocase.com/photos/3431339-berries-detox-fruit-infused-water-in-mason-jar-flavored-with-herb-leaves-on-table-at-sunny-turquoise-blue-background-summer-mood-drinks-and-lifestyle-healthy-background-photocase-stock-photo-large.jpeg);
}
.andro_btn-custom {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  background-color: #50bd4d;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
.qty {
  display: flex;
}
.quantity-slect {
  cursor: pointer;
  width: 70px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f0f2f3;
  font-size: 20px;
  background-color: #fff;
  transition: 0.3s;
}
.singleProduct-name {
  padding: 30px;
}
.slideStayhealth {
  margin-bottom: 150px;
}
.blog-img-single {
  padding: 30px;
  height: 550px;
  width: 550px;
  margin-top: 50px;
}
.content-blog {
  margin-top: 10px;
}
.posted-blog {
  padding: 20px;
}
.profile-container {
  padding: 30px;
  background-image: url(https://img.freepik.com/free-photo/body-detoxification-healthy-diet-concept-green-natural-fresh-apple-word-detox-from-white-letters_75163-1965.jpg?size=626&ext=jpg);
}
.publicNavbar {
  position: fixed;
}
.product-cart .item-product img {
  transition-duration: 0.3s;
}
.product-cart .item-product :hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.product-cart :hover {
  transition-duration: 0.5s;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
}
.product-cart {
  transition-duration: 0.5s;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
}
.product-cart {
  margin: 15px 15px 0;
  padding: 0;
  border: none !important;
}
.product-card {
  margin: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition-duration: 0.5s;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
}
.card .product-img-div :hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
}
